<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pocetna stranica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="menu">
        <a class="menu_item" routerLink="/klijent" *ngIf="this.korisnik!=null">Pocetna</a>
        <a class="menu_item" routerLink="/" *ngIf="this.korisnik==null">Pocetna</a>
        <a class="menu_item" routerLink="/registracija" *ngIf="this.korisnik==null">Registracija</a>
        <a class="menu_item"  routerLink="/prijava" *ngIf="this.korisnik==null">Prijava</a>
        <a class="menu_item"  routerLink="/lozinka" *ngIf="this.korisnik!=null">Promena lozinke</a>
        <a class="menu_item"  routerLink="/profil" *ngIf="this.korisnik!=null">Profil</a>
        <a class="menu_item"  routerLink="/objekti" *ngIf="this.korisnik!=null">Objekti</a>
        <a class="menu_item active"  routerLink="/agencijek" *ngIf="this.korisnik!=null">Agencije</a>
        <a class="menu_item"  routerLink="/poslovi" *ngIf="this.korisnik!=null">Poslovi</a>
    <form *ngIf="this.korisnik!=null">
        <button (click)="odjava()">Odjavi se</button>
    </form>
</div>
<div class="container">
    <form>
        <input type="text" name="param" [(ngModel)]="pretragaParam">
        <button (click)="pretraga()">Pretrazi</button>
        <br/>
        <input type="checkbox" name="adresasort" [(ngModel)]="adresa">Adresa
        <input type="checkbox" name="nazivsort" [(ngModel)]="naziv">Naziv
        <br/>
        <input type="radio" name="sort" [(ngModel)]="sortparam" value="rastuce">Rastuce
                    
        <input type="radio" name="sort" [(ngModel)]="sortparam" value="opadajuce">Opadajuce
        <br/>
        <button (click)="sort()">Sortiraj</button>
                   
    </form>
    <form>
        <div *ngIf="nadjeno.length==0"></div>
<table *ngIf="nadjeno.length>0">
    <tr>
        <th>Logo:</th>
        <th>Naziv:</th>
        <th>Opis:</th>
    </tr>
    <tr *ngFor="let a of nadjeno">
        <td *ngIf='a.slika!=null'>
            <img [src]="a.slika" height="100px" width="100px" (click)="recenzije(a)">
        </td>
        <td *ngIf='a.slika==null'>
            <img src="/assets/agencija.png" height="100px" width="100px" (click)="recenzije(a)">
        </td>
        <td>{{a.naziv}}</td>
        <td>{{a.opis}}</td>
    </tr>

</table>
<br/>
<div>
    <button (click)="saradnja()">Zatrazi saradnju</button>
</div>
</form>

</div>
<div class="footer">Projekat</div>
</body>
</html>
