<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pocetna stranica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="menu">
        <a class="menu_item" routerLink="/klijent" *ngIf="klijent">Pocetna</a>
        <a class="menu_item" routerLink="/agencija" *ngIf="agencija">Pocetna</a>
        <a class="menu_item" routerLink="/" *ngIf="this.korisnik==null">Pocetna</a>
        <a class="menu_item" routerLink="/registracija" *ngIf="this.korisnik==null">Registracija</a>
        <a class="menu_item"  routerLink="/prijava" *ngIf="this.korisnik==null">Prijava</a>
        <a class="menu_item"  routerLink="/lozinka" *ngIf="this.korisnik!=null">Promena lozinke</a>
        <a class="menu_item active"  routerLink="/profil" *ngIf="this.korisnik!=null">Profil</a>
        <a class="menu_item"  routerLink="/objekti" *ngIf="klijent">Objekti</a>
        <a class="menu_item"  routerLink="/agencijek" *ngIf="klijent">Agencije</a>
        <a class="menu_item"  routerLink="/radnici" *ngIf="agencija">Radnici</a>
        <a class="menu_item"  routerLink="/poslovi" *ngIf="this.korisnik!=null">Poslovi</a>
    <form *ngIf="this.korisnik!=null">
        <button (click)="odjava()">Odjavi se</button>
    </form>
</div>
<div class="container">
    
<form *ngIf="klijent">
    <div class="podaci">
        <h3>Licni podaci</h3>
        <br/>
        Profilna slika: 
        <div *ngIf='korisnik.slika!=null'>
            <img [src]="korisnik.slika" height="200px" width="200px">
    </div>
        <div *ngIf='korisnik.slika==null'>
            <img src="/assets/klijent.png" height="100px" width="100px">
        </div>
        <br/>
        Korisnicko ime: {{korisnik.kor_ime}}
        <br/>
        Ime i prezime: {{korisnik.ime}} {{korisnik.prezime}}
        <br/>
        Mejl: {{korisnik.mejl}}
        <br>
        Telefon: {{korisnik.telefon}}
    </div>
    <h3>Forma za azuriranje</h3>
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td>
                <input type="text" name="korime" [(ngModel)]="korime">
            </td> 
            </tr>
        <tr>
        <td>Ime:</td>
        <td>
            <input type="text" name="ime" [(ngModel)]="ime">
        </td> 
        </tr>
        <tr>
            <td>Prezime:</td>
            <td>
                <input type="text" name="prezime" [(ngModel)]="prezime">
            </td> 
        </tr>
        <tr>
            <td>Mejl:</td>
            <td>
                <input type="text" name="mejl" [(ngModel)]="mejl">
            </td> 
        </tr>
        <tr>
            <td>Telefon:</td>
            <td>
                <input type="text" name="telefon" [(ngModel)]="telefon">
            </td> 
        </tr>
        <tr>
            <td>Slika:</td>
            <td>
                <div>
                    <div *ngIf='slika=="" || slika==null && korisnik.tip=="klijent"'>
                        <img height="100px" width="100px" src="/assets/klijent.png">
                    </div>
                    <div *ngIf='slika!="" && slika!=null '>
                        <img [src]="slika">
                    </div>
                    <input style="display: none" name="slika" [(ngModel)]="slika" type="file"  accept=".jpg,.png" (change)="oznaciFajl($event)" #selectFile>
                    <button (click)="selectFile.click()">Izaberi sliku</button>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="azurirajKlijenta()">Azuriraj</button>
            </td>
        </tr>
   </table>   
</form>
<!-- <div>
    {{poruka}}
</div> -->

<form *ngIf="agencija">
    <div class="podaci">
        <h3>Licni podaci</h3>
        <br/>
        Profilna slika: 
        <div *ngIf='korisnik.slika!=null'>
            <img [src]="korisnik.slika" height="200px" width="200px">
    </div>
        <div *ngIf='korisnik.slika==null'>
            <img src="/assets/agencija.png" height="100px" width="100px">
        </div>
        Korisnicko ime: {{korisnik.kor_ime}} <br/>
        Naziv: {{korisnik.naziv}}<br> Opis: {{korisnik.opis}} <br> Adresa: {{korisnik.adresa}}
        <br/>
        Mejl: {{korisnik.mejl}}
        <br>
        Telefon: {{korisnik.telefon}}
    </div>
    <h3>Forma za azuriranje</h3>
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td>
                <input type="text" name="korime" [(ngModel)]="korime">
            </td> 
        </tr>
        <tr>
        <td>Naziv:</td>
        <td>
            <input type="text" name="naziv" [(ngModel)]="naziv">
        </td> 
        </tr>
        <tr>
            <td>Adresa:</td>
            <td>
                <input type="text" name="adresa" [(ngModel)]="adresa">
            </td> 
        </tr>
        <tr>
            <td>Opis:</td>
            <td>
                <input type="text" name="opis" [(ngModel)]="opis">
            </td> 
        </tr>
        <tr>
            <td>Mejl:</td>
            <td>
                <input type="text" name="mejl" [(ngModel)]="mejl">
            </td> 
        </tr>
        <tr>
            <td>Telefon:</td>
            <td>
                <input type="text" name="telefon" [(ngModel)]="telefon">
            </td> 
        </tr>
        <tr>
            <td>Logotip agencije:</td>
            <td>
                <div>
                    <div *ngIf='slika=="" || slika==null && korisnik.tip=="agencija"'>
                        <img height="100px" width="100px" src="/assets/agencija.png">
                    </div>
                    <div *ngIf='slika!="" && slika!=null '>
                        <img [src]="slika">
                    </div>
                    <input style="display: none" name="slika" [(ngModel)]="slika" type="file"  accept=".jpg,.png" (change)="oznaciFajl($event)" #selectFile>
                    <button (click)="selectFile.click()">Izaberi sliku</button>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="azurirajAgenciju()">Azuriraj</button>
            </td>
        </tr>
   </table>   
</form>
<div>
    {{poruka}}
</div>

</div>
<div class="footer">Projekat</div>
</body>
</html>
